<nav class="navbar navbar-expand-lg navbar-light bg">
  <div class="container-fluid">
    <a class="navbar-brand" href="../">
      <img src="../images/brand.png" alt="">
     </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="../">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/shopping-cart">
            {{!-- <i class="far fa-calendar-alt"></i> --}}
           Shopping-Cart <span class="badge rounded-pill bg-primary">  {{totalProducts}}</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            about
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {{#if checkuser}}
            <li><a class="dropdown-item" href="/users/profile">profile</a></li>
            <li><a class="dropdown-item" href="/users/logout">log out</a></li>
            {{else}}
            {{#if checkprofile}}
               <li><a class="dropdown-item" href="/users/logout">log out</a></li>
            {{/if}}
            
            <li><a class="dropdown-item" href="/users/signin">sign in</a></li>
            <li><a class="dropdown-item" href="/users/signup">sign up</a></li>
            {{/if}}
           
            
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>